@model EComCart.Models.Customer

<h2>Customer Details</h2>

<p><b>ID:</b> @Model.Id</p>
<p><b>Name:</b> @Model.FullName</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Phone:</b> @Model.Phone</p>
<p><b>Address:</b> @Model.Address</p>

<a asp-action="Index">Back</a>